<a href="https://colab.research.google.com/github/Alen-8080/Learn.py/blob/main/TASK_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [ ]:
#please write the code below this line
l = [23,45,25,78,90,45,22,56,99,12,9,75,32]
for i in range(0,13,2):
  print(l[i])
del l[5:8]
print(l)

23
25
90
22
99
9
32
[23, 45, 25, 78, 90, 99, 12, 9, 75, 32]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [8]:
#please write the code below this line
lower=['a', 'e', 'i', 'o', 'u']
uppers=[]
for i in range(0,5):
  temp = lower[i]
  uppers.insert(i,temp.upper())
print(uppers)

['A', 'E', 'I', 'O', 'U']

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [15]:
#please write the code below this line
fruits = ("banana", "cherry", "apple", "grapes")
(yellow,*red,green) = fruits
print(yellow)
print(red)
print(green)

banana
['cherry', 'apple']
grapes