<a href="https://colab.research.google.com/github/Alen-8080/Learn.py/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [14]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print("The boolean mask where value is nan:")
print(df.isnull())
#print(df.isnull().sum())
print("\n")
print("Data frame with null values removed:")
print(df.dropna(how='all', axis=1))

The boolean mask where value is nan:
                A      B      C      D     F
2021-01-01  False  False  False  False  True
2021-01-02  False  False  False  False  True
2021-01-03  False  False  False  False  True
2021-01-04  False  False  False  False  True
2021-01-05  False  False  False  False  True
2021-01-06  False  False  False  False  True


Data frame with null values removed:
                   A         B         C         D
2021-01-01 -0.400497  0.101366  1.131442 -0.063782
2021-01-02 -1.431416 -1.866851 -0.936509  0.890501
2021-01-03 -1.400874  0.246741  0.412707 -0.872957
2021-01-04 -0.530271  1.269006  1.444206 -0.285505
2021-01-05 -1.237627 -0.329873 -0.055931  0.366261
2021-01-06  0.383850 -1.103629 -0.248931  0.782720

2. In the data given below,fill the missing data with 20.

In [17]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print("Data frame with null values: ")
print(df)
print("\n")
print("Data frame with null values replaced with 20: ")
print(df.replace(to_replace=np.nan, value=20))

Data frame with null values:
                   A         B         C         D   F
2021-01-01  1.334445 -1.663994 -0.828733 -0.971749 NaN
2021-01-02 -1.167899 -0.197165 -1.384758  1.094411 NaN
2021-01-03 -0.420580 -0.182516 -0.192983 -0.369251 NaN
2021-01-04 -0.837980  0.058681  0.857411  1.093057 NaN
2021-01-05 -0.955520 -0.311998 -0.106525 -0.049505 NaN
2021-01-06 -0.053660 -0.568305  1.799422  0.955054 NaN


Data frame with null values replaced with 20:
                   A         B         C         D     F
2021-01-01  1.334445 -1.663994 -0.828733 -0.971749  20.0
2021-01-02 -1.167899 -0.197165 -1.384758  1.094411  20.0
2021-01-03 -0.420580 -0.182516 -0.192983 -0.369251  20.0
2021-01-04 -0.837980  0.058681  0.857411  1.093057  20.0
2021-01-05 -0.955520 -0.311998 -0.106525 -0.049505  20.0
2021-01-06 -0.053660 -0.568305  1.799422  0.955054  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [25]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
a = df.iloc[0:3]
b = df.iloc[3:8]
print("From 0 to 2:")
print(a)
print("\n")

print("From 3 to 7:")
print(b)
print("\n")

print("concated dataframe:")
c = pd.concat([a,b])
print(c)

d = pd.concat([a,b], axis=1)
print("\n")
print("along axis =1")
print(d)

From 0 to 2:
          0         1         2         3
0  0.109617 -0.139575 -0.035410  1.983618
1 -1.054462  0.047134  0.797864 -0.393064
2 -0.163170 -0.638014 -1.803892  0.241579


From 3 to 7:
          0         1         2         3
3 -0.655706  1.204040 -0.595415 -1.263163
4 -1.013828  0.858212 -0.249039  0.785762
5 -1.495736  1.693265  1.071120 -1.127725
6 -0.122124  1.184595  1.081497 -1.410834
7 -0.623483  1.406604 -0.489712  0.892789


concated dataframe:
          0         1         2         3
0  0.109617 -0.139575 -0.035410  1.983618
1 -1.054462  0.047134  0.797864 -0.393064
2 -0.163170 -0.638014 -1.803892  0.241579
3 -0.655706  1.204040 -0.595415 -1.263163
4 -1.013828  0.858212 -0.249039  0.785762
5 -1.495736  1.693265  1.071120 -1.127725
6 -0.122124  1.184595  1.081497 -1.410834
7 -0.623483  1.406604 -0.489712  0.892789


along axis =1
          0         1         2  ...         1         2         3
0  0.109617 -0.139575 -0.035410  ...       NaN       NaN       NaN
1 -1.054462  0.047134  0.797864  ...       NaN       NaN       NaN
2 -0.163170 -0.638014 -1.803892  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  1.204040 -0.595415 -1.263163
4       NaN       NaN       NaN  ...  0.858212 -0.249039  0.785762
5       NaN       NaN       NaN  ...  1.693265  1.071120 -1.127725
6       NaN       NaN       NaN  ...  1.184595  1.081497 -1.410834
7       NaN       NaN       NaN  ...  1.406604 -0.489712  0.892789

[8 rows x 8 columns]