<a href="https://colab.research.google.com/github/Alen-8080/Learn.py/blob/main/TASK_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and display,
  - where values of the column A is greater than 0.
  - where values of the columns A is greater than 0 and B greater than -1.
  - where values of the columns A  is greater than 0 or B greater than -1.

In [27]:
#please type your code below this line.
import numpy as np
import pandas as pd
dates = pd.date_range('20210829', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

print("DataFrame:")
print(df)
print("\n")

print("values of the column A is greater than 0")
A = df['A']>0
print(df[n])
print("\n")

print("Values of the columns A is greater than 0 and B greater than -1:")
b = df[(df['A']>0) & (df['B']>-1)]
print(b)
print("\n")

print("where values of the columns A is greater than 0 or B greater than -1")
print(df[(df['A']>0) or (df['B']>-1)])
print("\n")

DataFrame:
                   A         B         C         D
2021-08-29  1.125707  0.903094  0.643513 -1.559307
2021-08-30 -1.046898 -0.249763 -0.206554  0.886043
2021-08-31 -1.198447 -0.735338 -2.579340 -0.998244
2021-09-01  1.920113 -0.279413 -1.941015  0.811730
2021-09-02  0.227586  1.199798 -0.291597 -0.105383
2021-09-03 -1.160952 -0.005909  0.048327 -0.360853


values of the column A is greater than 0
                   A         B         C         D
2021-08-30 -1.046898 -0.249763 -0.206554  0.886043
2021-08-31 -1.198447 -0.735338 -2.579340 -0.998244
2021-09-03 -1.160952 -0.005909  0.048327 -0.360853


Values of the columns A is greater than 0 and B greater than -1:
                   A         B         C         D
2021-08-29  1.125707  0.903094  0.643513 -1.559307
2021-09-01  1.920113 -0.279413 -1.941015  0.811730
2021-09-02  0.227586  1.199798 -0.291597 -0.105383


where values of the columns A is greater than 0 or B greater than -1

2. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and check if ,
  - the values of the table are greater the zero or not.
  - the value at the postion (0,0) is equal to NaN or not.

In [6]:
#please type your code below this line.
import numpy as np
import pandas as pd
dates = pd.date_range('20210829', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

print("DataFrame:")
print(df)
print("\n")
print("the values of the table are greater the zero or not")
print(df >0)
print("\n")
print("value at the postion (0,0) is equal to NaN or not")
a = df.iloc[0:1,0:1]
print(a.isnull())

DataFrame:
                   A         B         C         D
2021-08-29  1.101921  0.167332 -0.230303 -0.706277
2021-08-30 -0.772099  1.980699 -2.975187  0.296884
2021-08-31 -1.031431  0.784561  0.083063  0.380874
2021-09-01 -2.180596  0.027250  0.764936 -0.000499
2021-09-02  1.115416 -1.173528 -0.753185  0.382992
2021-09-03 -0.327171 -0.051281  2.279217 -0.522080


the values of the table are greater the zero or not
                A      B      C      D
2021-08-29   True   True  False  False
2021-08-30  False   True  False   True
2021-08-31  False   True   True   True
2021-09-01  False   True   True  False
2021-09-02   True  False  False   True
2021-09-03  False  False   True  False


value at the postion (0,0) is equal to NaN or not
                A
2021-08-29  False

3. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and,
  - reindex the index with even dates.
  - create a column with values NaN.
  - make the values of the first two index of the newly created column as 1

In [20]:
#please type your answer below this line.
import numpy as np
import pandas as pd
dates = pd.date_range('20210828', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

print("DataFrame:")
print(df)
print("\n")

DF =df.reindex(['2021-08-28', '2021-08-30', '2021-08-02', '2021-08-04', '2021-08-06', '2021-08-08'])
print(DF)

Df = DF.replace({0: 2} ,value=1)
print(Df)

DataFrame:
                   A         B         C         D
2021-08-28 -0.900712  0.723940  1.874767  1.088750
2021-08-29  0.066844 -0.547362  0.663083  0.372457
2021-08-30 -0.060806  0.585893 -0.168618  0.173980
2021-08-31 -1.451659 -0.888678 -0.631591  1.594061
2021-09-01  1.354603  2.093198 -0.058179  0.536485
2021-09-02 -0.085180  0.721901 -1.375725  0.666551


             A   B   C   D
2021-08-28 NaN NaN NaN NaN
2021-08-30 NaN NaN NaN NaN
2021-08-02 NaN NaN NaN NaN
2021-08-04 NaN NaN NaN NaN
2021-08-06 NaN NaN NaN NaN
2021-08-08 NaN NaN NaN NaN
             A   B   C   D
2021-08-28 NaN NaN NaN NaN
2021-08-30 NaN NaN NaN NaN
2021-08-02 NaN NaN NaN NaN
2021-08-04 NaN NaN NaN NaN
2021-08-06 NaN NaN NaN NaN
2021-08-08 NaN NaN NaN NaN