<a href="https://colab.research.google.com/github/Alen-8080/Learn.py/blob/main/TASK_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [23]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
print(df)
#please type your code below this line.
A = df.groupby(df['A'])
print("\n")
print("Sum od dataset grouped by A")
print( A.sum())
print("\nThe 3 least elements from the column D:")
print(df.nsmallest(3,'D'))
L = df[(df['A']=='bar')]
print("\nthe 3 largest elements from the Column D which belongs to the group 'bar'")
print(df.nlargest(3,'D'))

     A      B         C         D
0  foo    one  0.487303 -0.966228
1  bar    one  0.703242  0.477672
2  foo    two -0.302746 -1.889881
3  bar  three -0.906704 -0.384735
4  foo    two -0.376592 -0.586277
5  bar    two -0.263407 -0.985890
6  foo    one  0.049159  0.609787
7  foo  three  0.369101  1.122207


Sum od dataset grouped by A
            C         D
A
bar -0.466869 -0.892953
foo  0.226226 -1.710391

The 3 least elements from the column D:
     A    B         C         D
2  foo  two -0.302746 -1.889881
5  bar  two -0.263407 -0.985890
0  foo  one  0.487303 -0.966228

the 3 largest elements from the Column D which belongs to the group 'bar'
     A      B         C         D
7  foo  three  0.369101  1.122207
6  foo    one  0.049159  0.609787
1  bar    one  0.703242  0.477672

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [27]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
df.to_csv("dataset.csv")
df2 = pd.read_csv("dataset.csv")
print("\nconverted csv file:")
print(df2)
df.to_excel("dataset.xlsx")
df3 = pd.read_excel("dataset.xlsx")
print("\nconverted excel file:")
print(df3)

converted csv file:
   Unnamed: 0    A      B         C         D
0           0  foo    one -2.265565 -0.490354
1           1  bar    one  2.379948 -1.622761
2           2  foo    two  1.743396 -1.037197
3           3  bar  three  1.679676 -1.224991
4           4  foo    two -0.960975 -0.466349
5           5  bar    two  1.147154 -0.893318
6           6  foo    one  0.767246 -0.654123
7           7  foo  three  0.360453 -0.579246

converted excel file:
   Unnamed: 0    A      B         C         D
0           0  foo    one -2.265565 -0.490354
1           1  bar    one  2.379948 -1.622761
2           2  foo    two  1.743396 -1.037197
3           3  bar  three  1.679676 -1.224991
4           4  foo    two -0.960975 -0.466349
5           5  bar    two  1.147154 -0.893318
6           6  foo    one  0.767246 -0.654123
7           7  foo  three  0.360453 -0.579246