<a href="https://colab.research.google.com/github/Alen-8080/Learn.py/blob/main/TASK_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and display its,
     - Head
     - Tail
     - Index 
     - Columns
     - Values
     - statistics

In [36]:
#please type your answer below this line.
import numpy as np
import pandas as pd

date = pd.date_range('20200101', periods = 5)
frame = pd.DataFrame(np.random.randn(5,4), index=date , columns=list('ABCD'))
print("Data frame ")
print(frame)
print("\nHead :")
print(frame.head)
print("\nTail:")
print(frame.tail(4))
print("\nIndex :")
print(frame.index.values)
print("\nColumns:")
print(list (frame.columns.values))
print("\nValues: ")
print(frame.values)

Data frame
                   A         B         C         D
2020-01-01 -2.400306  0.047758 -0.007455 -0.011889
2020-01-02  1.251751  1.257338  0.882442 -0.274864
2020-01-03 -0.620789  0.925592  0.729081 -1.592153
2020-01-04  1.233498 -0.041457 -0.509971 -0.845605
2020-01-05  0.977473 -0.016625  0.073754  0.892414

Head :
<bound method NDFrame.head of                    A         B         C         D
2020-01-01 -2.400306  0.047758 -0.007455 -0.011889
2020-01-02  1.251751  1.257338  0.882442 -0.274864
2020-01-03 -0.620789  0.925592  0.729081 -1.592153
2020-01-04  1.233498 -0.041457 -0.509971 -0.845605
2020-01-05  0.977473 -0.016625  0.073754  0.892414>

Tail:
                   A         B         C         D
2020-01-02  1.251751  1.257338  0.882442 -0.274864
2020-01-03 -0.620789  0.925592  0.729081 -1.592153
2020-01-04  1.233498 -0.041457 -0.509971 -0.845605
2020-01-05  0.977473 -0.016625  0.073754  0.892414

Index :
['2020-01-01T00:00:00.000000000' '2020-01-02T00:00:00.000000000'
 '2020-01-03T00:00:00.000000000' '2020-01-04T00:00:00.000000000'
 '2020-01-05T00:00:00.000000000']

Columns:
['A', 'B', 'C', 'D']

Values:
[[-2.4003063   0.04775763 -0.00745489 -0.01188935]
 [ 1.25175058  1.25733834  0.88244213 -0.27486388]
 [-0.62078851  0.92559235  0.72908124 -1.59215269]
 [ 1.23349813 -0.04145693 -0.50997135 -0.84560477]
 [ 0.9774735  -0.0166254   0.07375368  0.89241445]]

2. Use the above table and,
      - find transpose of your data.
      - sort the index in the descending order of the date.

In [50]:
#please provide your answer below this line.
import numpy as np
import pandas as pd

date = pd.date_range('20200101', periods = 5)
frame = pd.DataFrame(np.random.randn(5,4), index=date , columns=list('ABCD'))
print("Data frame ")
print(frame)
print("\nTranspose of Data Frame :")
print(frame.transpose())
print(frame.sort_values(by='date', axis=0, ascending=False))

Data frame
                   A         B         C         D
2020-01-01  0.904091  1.445243  0.601225  0.793428
2020-01-02 -0.903809  0.835349  0.934175  0.828117
2020-01-03 -0.364360 -1.149991  0.602812 -1.412134
2020-01-04 -0.703588  0.508189  1.004855  0.547518
2020-01-05  0.024469  0.553951  1.124843  0.397488

Transpose of Data Frame :
   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05
A    0.904091   -0.903809   -0.364360   -0.703588    0.024469
B    1.445243    0.835349   -1.149991    0.508189    0.553951
C    0.601225    0.934175    0.602812    1.004855    1.124843
D    0.793428    0.828117   -1.412134    0.547518    0.397488