<a href="https://colab.research.google.com/github/Alen-8080/Learn.py/blob/main/TASK_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [12]:
#please type your answer below this line.
import pandas as pd
import numpy as np
i=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"]
d=[1,3,5,np.nan,6,8]
b = pd.Series(data=d, index=i) 
print("Table")
print(b)

Table
India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
china         6.0
Nepal         8.0
dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [11]:
#please type 
import pandas as pd
dates = ['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05', '2021-01-06']
A = np.random.rand(6,4)
r = pd.DataFrame(columns=['A','b','c','d'],index=dates,data=A)
print("Data Frame")
print(r)

Data Frame
                   A         b         c         d
2021-01-01  0.846635  0.818038  0.792812  0.639007
2021-01-02  0.831299  0.093478  0.375727  0.298126
2021-01-03  0.897676  0.733540  0.091041  0.476448
2021-01-04  0.733144  0.294086  0.007741  0.023894
2021-01-05  0.030116  0.904563  0.021026  0.083892
2021-01-06  0.576343  0.797728  0.102721  0.358685