<a href="https://colab.research.google.com/github/Alen-8080/Learn.py/blob/main/TASK_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [13]:
#please provide your answer below this line.
import numpy as np
import pandas as pd
dates = pd.date_range('20210829', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

print("DataFrame:")
print(df)
print("\n")

print("First three  rows: ")
print(df.loc[['2021-08-29', '2021-08-30', '2021-08-31']])
print("\n")

print("odd indexed rows:")
print(df.iloc[1::2])
print("\n")

print("Dates from 1 to 4 th position:")
print(df.iloc[1:5])

DataFrame:
                   A         B         C         D
2021-08-29 -0.321113 -0.853000 -1.078008  1.727180
2021-08-30 -1.328064 -1.975412 -0.433833 -1.750143
2021-08-31  1.352591 -0.262030  1.200541 -1.780015
2021-09-01 -0.383135 -0.353028 -1.581223  0.249090
2021-09-02 -0.742632  1.037249  1.132408  0.006221
2021-09-03  0.114569  0.392946  0.436930  0.534125


First three  rows:
                   A         B         C         D
2021-08-29 -0.321113 -0.853000 -1.078008  1.727180
2021-08-30 -1.328064 -1.975412 -0.433833 -1.750143
2021-08-31  1.352591 -0.262030  1.200541 -1.780015


odd indexed rows:
                   A         B         C         D
2021-08-30 -1.328064 -1.975412 -0.433833 -1.750143
2021-09-01 -0.383135 -0.353028 -1.581223  0.249090
2021-09-03  0.114569  0.392946  0.436930  0.534125


Dates from 1 to 4 th position:
                   A         B         C         D
2021-08-30 -1.328064 -1.975412 -0.433833 -1.750143
2021-08-31  1.352591 -0.262030  1.200541 -1.780015
2021-09-01 -0.383135 -0.353028 -1.581223  0.249090
2021-09-02 -0.742632  1.037249  1.132408  0.006221

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [21]:
#please provide your answer below thins line.
import numpy as np
import pandas as pd
dates = pd.date_range('20210829', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print("DataFrame:")
print(df)
print("\n")
print("index from 1-3 dates and A and B columns :")
print(df.iloc[1:4,0:2])

print("\n")
print("Data at 3rd index:")
print(df.iloc[3,0:4])

print("\n")
print("Datas from 2-5th:")
print(df.iloc[2:6,0:4])

print("\n")
print("Datas from the index 1,2,4 and the column 0 and 2: ")
print(df.iloc[0:6:2,0:3:2])

DataFrame:
                   A         B         C         D
2021-08-29 -1.308238  0.219985  0.970538  1.390719
2021-08-30 -0.127582  1.061413 -0.308886 -0.612741
2021-08-31  0.625075  0.210781 -2.171548 -0.299458
2021-09-01 -1.581970  0.617963  0.518499 -0.514559
2021-09-02 -0.392664 -0.711961  1.094631  1.211377
2021-09-03 -0.775520  0.706265 -1.079295 -0.225184


index from 1-3 dates and A and B columns :
                   A         B
2021-08-30 -0.127582  1.061413
2021-08-31  0.625075  0.210781
2021-09-01 -1.581970  0.617963


Data at 3rd index:
A   -1.581970
B    0.617963
C    0.518499
D   -0.514559
Name: 2021-09-01 00:00:00, dtype: float64


Datas from 2-5th:
                   A         B         C         D
2021-08-31  0.625075  0.210781 -2.171548 -0.299458
2021-09-01 -1.581970  0.617963  0.518499 -0.514559
2021-09-02 -0.392664 -0.711961  1.094631  1.211377
2021-09-03 -0.775520  0.706265 -1.079295 -0.225184


Datas from the index 1,2,4 and the column 0 and 2:
                   A         C
2021-08-29 -1.308238  0.970538
2021-08-31  0.625075 -2.171548
2021-09-02 -0.392664  1.094631